@media only screen and (max-width: 1000px) {
    /* Header */
    header {
        height: 192px;
        background: #00efff url(../Images/richardmcanoresume_header_1000px.png) no-repeat center;
        position: relative;
    }

    section.feature #pdf {
        background: #fff url(../Images/PDF_Website_250px.png) no-repeat center;
    }

    /* Applicant Profile */
section.main .applicantName {
    font-size: 1.9em;
}

    section.main .applicantNumber {
        font-size: 1.2em;
    }

    section.main .applicantAddress {
        font-size: 1em;
    }

    section.main .objectiveList {
        font-size: .9em;
    }
}