<nav>
    <ul>
        <li>
            <div class="btn btnOverview">Overview</div>
            @*<ul>
                    <li>
                        <a title="Sub Link 1" href="#">Sub Link 1</a>
                    </li>
                    <li>
                        <a title="Sub Link 2" href="#">Sub Link 2</a>
                    </li>
                </ul>*@
        </li>
        <li>
            <div class="btn btnJobs">Job Experience</div>
            @*<ul>
                    <li>
                        <a title="Sub Link 2" href="#">Sub Link 2</a>
                    </li>
                    <li>
                        <a title="Sub Link 3" href="#" aria-haspopup="true">Sub Link 3</a>
                        <ul>
                            <li>
                                <a title="Sub Sub Link 1" href="#">Sub Sub Link 1</a>
                            </li>
                            <li>
                                <a title="Sub Sub Link 2" href="#">Sub Sub Link 2</a>
                            </li>
                        </ul>
                    </li>
                </ul>*@
        </li>
        <li>
            <div class="btn btnEducation">Education</div>
            @*  `<ul>
                    <li>
                        <a title="Sub Link 1" href="#">Sub Link 1</a>
                    </li>
                    <li>
                        <a title="Sub Link 2" href="#">Sub Link 2</a>
                    </li>
                </ul>*@
        </li>
        <li>
            <div class="btn btnTechnicalSkills">Technical Skills</div>
        </li>
        <li>
            <div class="btn btnContact">Contact</div>
        </li>
    </ul>
</nav>